html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: #f5f8fa;
    color: #14171a;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Courier New', Courier, monospace; 
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

form {
    background: 
        repeating-linear-gradient(
            45deg, 
            rgba(255, 255, 255, 0.9), 
            rgba(255, 255, 255, 0.9) 10px, 
            rgba(240, 240, 240, 0.9) 10px, 
            rgba(240, 240, 240, 0.9) 20px
        ),
        linear-gradient(to right, #f7f7f7, #eaeaea);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Label stílus */
.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #14171a;
}

.form-control {
    width: 100%; 
    max-width: 50%; 
    padding: 0.75rem; 
    font-size: 1rem;
    border-radius: 0.5rem; 
    border: 1px solid #0e67a7;
    background-color: #ffffff;
    color: #14171a;
    margin-bottom: 1rem; 
    font-family: 'Courier New', Courier, monospace;
}

.form-control:focus {
    border-color: #1da1f2;
    box-shadow: 0 0 0 0.2rem rgba(29, 161, 242, 0.25);
}

#status {
    text-align: center;
}


textarea.form-control {
    height: 150px; 
    resize: vertical; 
}


select.form-control {
    padding: 0.75rem;
}


button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-top: 1rem; 
    font-family: 'Courier New', Courier, monospace;
}


.btn-primary {
    background-color: rgb(168, 161, 161);
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

.btn-primary:hover {
    background-color: grey;
}


.btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.contact-form-group {
    position: relative; 
    padding: 1rem;
    border: 1px solid #e1e8ed;
    border-radius: 0.5rem;
    background: 
        repeating-linear-gradient(
            45deg, 
            rgba(255, 255, 255, 0.9), 
            rgba(255, 255, 255, 0.9) 10px, 
            rgba(240, 240, 240, 0.9) 10px, 
            rgba(240, 240, 240, 0.9) 20px
        ),
        linear-gradient(to right, #f7f7f7, #eaeaea);
    margin-bottom: 1rem; 
}

.btn-remove {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    color: #dc3545;
    font-size: 1.25rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn-remove:hover {
    color: #c82333;
}

.alert {
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    background-color: #c82333;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
    
}

